.gitconfig
/.DS_Store
/vendor/bundle
/.ruby-version
/.ruby-gemset
/.sfn-aws
/.bundle
/Gemfile.lock
bin/aws-switchrole
bin/flake8
bin/tmux-sessions
bin/tmuxinator.zsh
/bin/brdeploy
/bin/shellstack
.vim/spell/en.utf-8.add
.vim/spell/en.utf-8.add
.vim/spell/en.utf-8.add.spl
doc/tags
/.vim/bundle
.zshrc.d/extra_config.zshrc
/.vim/
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
*.pyc
*.out
venv
.venv
node_modules
.sass-cache

nvm.zshrc_
